############################################
# Defaults gitignore rules
############################################

# Racine
vite.config.js.timestamp-*
package-lock.json
node_modules/
.claude/
.cache/
.git/
nul
.env
